{% extends "template.html.twig" %}

{% block pageTitle %}
<h4 class="text-center text-primary">Formulaire ajout personne</h4>
{% endblock %}
{% block body %}
    {{form_start(form)}}
    <div class="row">
        <div class="col">{{form_row(form.firstname)}}</div>
        <div class="col">{{form_row(form.name)}}</div>
    </div>
    {{form_rest(form)}}
{% endblock %}