{% extends 'template.html.twig' %}



{% block body %}
    
    
    <ul class="list-group">
    {% for cat,data in app.session.get('todos') %}
        <h4>{{cat}}</h4><li class="list-group-item">+{{data}}</li>
    {% endfor %}
    
    </ul>

{% endblock %}

{% block title %}todo{% endblock %}
{% block pageTitle %}<h1 class='text-center'>Todo list</h1>{% endblock %}
